$base-font-size: 16px;
$grey-color: lighten(#000, 22%);
$red-color: #D91E18;
$green-color: #16A085;
$font-white: darken(White, 10%);

$red: #D91E18;
$green: #16A085;
$orange: #D35400;
$blue: #4B77BE;

$serif: 'Sorts Mill Goudy', serif;
$sans: 'Dosis', sans-serif;
