<div id="footer-logo">
    <%= image_tag 'logo.png', :class => 'logo' %>
    <div class="links">
      <span class="link index-link"><a href="/">Our Services</a></span>
      <!-- <span class="link"><a href="/">Blog</a></span> -->
      <span class="link portfolio-link"><a href="../portfolio">Portfolio</a></span>
      <span class="link contact-link"><a href="../contact">Contact</a></span>
    </div>
</div>
